ol {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
}

li {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

span {
  margin-left: 8px;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(147, 147, 147);
}

button {
  background-color: transparent;
  padding: 4px;
  margin: 0 4px;
  border: 0.8px solid black;
  border-radius: 4px;
  transition: all 200ms ease;
}

button:hover {
  background-color: aliceblue;
  cursor: pointer;
}

input {
  padding: 4px;
}

select {
  padding: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  padding-bottom: 24px;
}

.toDoList {
  border: 1px solid grey;
  width: 250px;
  padding: 24px;
  margin: 24px;
}